<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" type="text/css" href="css/reset.css">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		
		<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
		
		<title>Cassandra Morton</title>

		<link rel="icon" href="img/cupcake.jpg"/>
	
	</head>

	<body>
		
		<div class="top-container">

			<img src="<%= imagePath %>">
		
		</div>
		
		<nav id="navigation">
		
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/career">Career</a></li>
				<li><a href="/adventure">Adventure</a></li>
				<li><a href="/family">Family</a></li>
				<li><a href="/contactMe">Contact Me</a></li>
			</ul>

			<div class="clear"></div>

		</nav>

