<%- include('partials/headNav.ejs'); %>

		<div class="content">

			<h1>Director of Residence Life and Housing</h1>

			<h2>University of Redlands</h2>

			<h2>Redlands, California</h2>

			<p></p>

		</div>
		
		</div>

<%- include('partials/footer.ejs'); %>