<%- include('partials/headNav.ejs'); %>

		<div class="content">
			
			<h1>Cassandra Morton</h1>
						
			<h2>I am playful, outgoing, driven, and <br> always up for a new adventure!</h2>
		
			<p>I surround myself with good people and appreciate the small things each day. I vlaue a good sense of huor and an eagernes to have great experiences. A positive attitude, kind spirit, and strong character are must haves in my book, but a pinch of rebel keeps things interesting.</p>

			<p>I love to travel and mark things off my bucket list. i most recently have started computer coding, after having becoming a certified PADI scuba diver and taken up Latin dancing. I enjoy visting new cities, trying new restaurants, as well as going to shows and having a night out on the town. I love to sing in the car, go to the movies, and spend time with friends.</p>

			<p>I currently work as an administrator with my MBA. I'm really good at making the best out of stituations and having fun. The first thing people notice about me is my curly hair and laugh. I spend a lot of time thinking about my next trip or small getaway. On a typical Friday night I go out for a few drinks and something like a comedy club. </p>

		<div class="fun">
			<h2>Fun Fact!</h2>

			<p>I didn't learn to ride a bike until I was 21 years old.</p>
		</div>
		
		</div>

<%- include('partials/footer.ejs'); %>